{% extends 'blog/base.html' %}

{% block content %}
<article class="post">

    <aside class="actions">
        {% if user.is_authenticated %}
        {% if post.published_date %}
        <time class="date">
            Published On: {{ post.published_date }}
        </time>
        {% else %}
        <a class="btn btn-secondary" href="{% url 'blog:post_publish' post_id=post.id %}">
            Publish</a>
        {% endif %}
        <a class="btn btn-secondary" href="{% url 'blog:post_edit' post_id=post.id %}">
            <i class="bi bi-pencil-fill"></i>
        </a>
        <a class="btn btn-secondary" href="{% url 'blog:post_remove' post_id=post.id %}">
            <i class="bi bi-trash"></i>
        </a>
        {% endif %}
    </aside>


    <h2>{{ post.title }}</h2>
    <p>{{ post.text|linebreaksbr }}</p>


</article>
{% endblock content %}