{% extends 'blog/base.html' %}

{% block content %}
<article class="post">

    <aside class="actions">
        {% if user.is_authenticated %}
        {% if post.published_date %}
        <time class="date">
            Published On: {{ post.published_date }}
        </time>
        {% else %}
        <a class="btn btn-secondary" href="{% url 'blog:post_publish' post_id=post.id %}">
            Publish</a>
        {% endif %}
        <a class="btn btn-secondary" href="{% url 'blog:post_edit' post_id=post.id %}">
            <i class="bi bi-pencil-fill"></i>
        </a>
        <a class="btn btn-secondary" href="{% url 'blog:post_remove' post_id=post.id %}">
            <i class="bi bi-trash"></i>
        </a>
        {% endif %}
    </aside>


    <h2>{{ post.title }}</h2>
    <p>{{ post.text|linebreaksbr }}</p>

</article>

<hr>
<a class="btn btn-secondary mb-4" href="{% url 'blog:add_comment_to_post' post_id=post.id %}">Add comment</a>

{% for comment in comments %}
{% if user.is_authenticated or comment.approved_comment %}
<div class="comment">
    <div class="date">{{ comment.created_date }}
        {% if not comment.approved_comment %}
        <a class="btn btn-secondary" href="{% url 'blog:comment_remove' comment_id=comment.id %}">
            <i class="bi bi-hand-thumbs-down"></i></a>
        <a class="btn btn-secondary" href="{% url 'blog:comment_approve' comment_id=comment.id %}">
            <i class="bi bi-hand-thumbs-up"></i></a>
        {% endif %}
    </div>
    <strong>{{ comment.author }}</strong>
    <p>{{ comment.text|linebreaks }}</p>
</div>
{% endif %}
{% empty %}
<p>No comments yet :(</p>
{% endfor %}
{% endblock content %}